﻿@charset "utf-8";
/* Esta hoja de estilo fue realizada por Alberto R. León para uso exclusivo de la Revista América Latina en la Historia Económica, publicada por el Instituto de Investigaciones Dr. José María Luis Mora. */

p {
	font-family: arial, sans-serif;
	font-size: 15px;
}
h1.title {
	margin-top: 5em;
	margin-right: 25%;
	font-family: sans-serif;
	text-align:left;
	font-size:25px;
}
 h2.subtitle {
	margin-top: 50px;
  	font-family: sans-serif;
  	font-size: 20px;
  	font-weight: Bold;
  	text-align: center;
}
 h3.subsection {
	margin-top: 20px;
  	font-family: sans-serif;
	font-style: italic;
  	font-size: 18px;
  	font-weight: Bold;
  	text-align: left;
}
h3.cabecera {
  	font-family: sans-serif;
  	font-size: 20px;
  	text-align: center;
	padding: 15px;
	color: #E6EBEF;
}

h4 {
  	font-family: sans-serif;
  	font-size: 12pt;
  	font-style: italic;
  	text-align: left;
}

blockquote  {
 	font-family: sans-serif;
	margin-top: 1em;
	margin-bottom:1em;
  	margin-left: 50px;
  	margin-right: 80px;
  	font-size: 15px;
  	text-align: justify;
  	line-height:15px;
	text-indent: 0;
	border-left-style:outset;
}
a {
	color: #1F4293;
}

img.figura {
	width: 100%;
 }

p.titgraf {text-align: center;
}

p.tit2 {
	font-size:25px;
	margin-right: 25%;
	text-align:left;
	font-style:italic;
}
hr.linea {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	width: 350px;
}
sup {
	border: hidden;
	background:#0d70ba;
	color: #E6EBEF;
	border-radius: 9px;
	padding:3px;
}
/* Cabecera */
div.issn {
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	font-size:14px;
	border-left-style:outset;
	text-align: right;
	}
/* DOI */
.doi {
    margin-top: 2em;
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #0d70ba;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #E6EBEF;
    border-radius: 10px;
	}

/* caja de autor */
div.autor {
	text-align: right;
	font-size: 17px;
	margin-right: 1.5em;
	}

div.institucion {
    margin-left: 3.5em;
    font-family: arial, sans-serif;
    font-size: 15px;
}
div.autorespacio {
    margin-top: 3.5em;
}

 div.metadata-area {
     margin-left: 2.5em;
     margin-bottom: 3em;
     font-family: arial, sans-serif;
     font-size: 15px;
}

.fechas {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 16px;
    font-weight: 200;
    line-height: 1;
    color: #0d70ba;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #E6EBEF;
    border-radius: 10px;
	}
/* caja de biografía */

div.bio {
	border-left: 6px solid #0d70ba;
    background-color: #E6EBEF;
	border-radius: 5px;
	padding: 15px;
	color:#3D50A8;
}
/* derechos */

div.derecho {
	border-left: 6px solid #0d70ba;
    background-color: #E6EBEF;
	border-radius: 5px;
	margin: 15px;
	margin-left:0;
	width: auto;
	padding: 15px;
	}

/* toc */

div.indice {
	width: 500px;
    border-left: 6px solid #0d70ba;
    background-color: #E6EBEF;
	border-radius: 5px;
    word-wrap: break-word;
	padding: 10px;
	word-wrap: break-word;
	font-family:sans-serif;
	font-size:12px;
	color:#3D50A8;
	}

/* abstracts */
div.resumen {
	margin-top:-20px;
	background-color: #E6EBEF;
	border-radius: 5px;
	width: auto;
	padding: 15px;
	color:#3D50A8;
	}
div.resumentit{
	margin-top:10px;
	text-align:center;
	background-color: #0d70ba;
	border-radius: 5px;
	}
	.titresumen{
		color: white;
		text-align: center;
		font-style: normal;
	}
	
div.boxkey{
     margin-top: 1em; 
     margin-left: 15px;
     color: #0d70ba;
}

div.keywords {
	width: auto;
	background-color: #FCF8F8;
    word-wrap: break-word;
	color: #0d70ba;
}
div.ref {
	margin-left:3em;
	text-indent: -40px;
}
div.figura {
	text-align:center;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 80%;
    height: 80%;
    border: 10px solid #E6EBEF;
    margin: 10px;
}
.figure_caption {
	font-family: sans-serif;
	font-weight:700;
	font-size:40px;
}
/* tablas */
table {
    width: 100%;
}

th {
    height: 50px;
	text-align:center;
}
th, td {
    border-bottom: 1px solid #ddd;
	text-align:center;
}
.cabeza {
	background-color: #4FCDED;
	font-style:italic;
	color: #FDFDFD;
	font-weight:700;
	height:3em;
}
tr:hover {
	background-color: #f5f5f5;
	}
/* cajas */

div.box {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 80%;
    height: 80%;
    border: 10px solid #E6EBEF;
    margin: 10px;
}
/* fórmulas */
.formula {
	text-align:center;
	font-size:20px;
	font-family: monospace;
	padding:4px;
	width: 250px;
	background-color: #FCF8F8;
    word-wrap: break-word;
	color: #0d70ba;
	margin: 0 auto;
}
.fraction {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0.2em 0.4ex;
    text-align: center;
}
.fraction > span {
    display: block;
    padding-top: 0.15em;
}
.fraction span.fdn {border-top: thin solid black;}
.fraction span.bar {display: none;}